.l-header{
    background: url('../images/main.jpg') left top no-repeat;
    background-size:cover;
    padding-top: 40px;
    padding-bottom: 80px;

    &__title{
        display: flex;
        align-items: center;
        font-weight: 900;
        margin-left: 20px;
        font-size: 40px;
        
    }
}