
.l-header{
    @include flexCenter(column);
    align-items: flex-end;
    background:url('../images/flower.jpg') left center no-repeat;
    padding-bottom: 0;
    border-bottom:3px solid rgb(228, 17, 158);
}

.l-header__title{
    font-size: 40px;
}
.l-header__text{
    margin-bottom: 7rem;
}

