.l-footer{
    text-align:center;
    color:#fff;
    font-family: serif;
    position:relative;
    padding-top:70px;

    &__copyright{
        font-size: 17px;
        padding-bottom: 30px;
        margin-top: 40px;
    }
}